.filter__label {
  margin-right: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  font-weight: bold;
}

.filter__input {
  height: 50px;
  width: 418px;
  padding-left: 20px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  font: inherit;

  &:hover,
  &:focus {
    border: 1px solid #D8D8D8;
  }
}