@import "fonts";
@import "variables";
@import "house";
@import "loader";
@import "house-list";
@import "not-found";
@import "filter";
@import "house-page";
@import "search-more-button";
@import "page";

body {
  min-width: 320px;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: $text-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}