.house-list {
  display: grid;
  margin: 0 auto;
  gap: 38px 22px;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $layout-breakpoint-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $layout-breakpoint-medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}